<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="Term_Project_COMP_3504.Term_Project_COMP_3504" android:versionCode="1" android:versionName="1.0">
	<uses-sdk android:minSdkVersion="16" />
	<application android:label="Term_Project_COMP_3504"></application>
</manifest>